<div class="wrapper">
  <div class="container pt-5">

    <div class="w-100" id="block-ads">
      <div class="col d-flex justify-content-center align-items-center">
        One of three columns
      </div>
    </div>


    <div class="d-flex flex-lg-row flex-column justify-content-between pt-4">
      <div class="col-lg-6 col-12 p-3 d-flex bg-white mb-sm-3 justify-content-center flex-column shadow" id="form-login">
        <div
          class="w-100 h-25  text-white text-center bg-primary align-items-center shadow-sm p-3  d-flex justify-content-between flex-column-reverse flex-sm-row">
          <div class="timer">
            <h6>
              <pre>{{this.minute}}:{{this.second}}</pre>
            </h6>
            <div>وقت باقیمانده برای نوبت گیری</div>
          </div>
          <h4 class="pb-5 pb-sm-0">ورود</h4>
        </div>
        <div class="form-login container h-auto p-3 w-100 h-100 shadow">
          <p class="text-center">
            جهت رزرو کامل این نوبت در<br>
            روز {{dayofweek}} در تاریخ {{year}}/{{month}}/{{day}} در ساعت {{hour}}:{{minutet}}<br />
            با شماره همراه/شماره ملی و کلمه عبور خود اقدام به رزرو نمایید
          </p>
          <form (ngSubmit)="onSubmit()" formGroup='fb'>
            <div class="form-group">
              <div class="radios d-flex justify-content-center">
                <div class="ml-3">
                  <input type="radio" id="huey" name="drone" value="huey" checked #tell>
                  <label for="huey">ورود باشمازه تلفن </label>
                </div>

                <div>
                  <input type="radio" #nc id="dewey" name="drone" value="dewey">
                  <label for="dewey">ورود با کد ملی</label>
                </div>

              </div>

              <div *ngIf="nc.checked else tellblock">
                <label for="name" class="form__label" >کدملی</label>
                <input type="email" class="form-control form__field" formControlName="nc" name="" id="" aria-describedby="emailHelpId"
                  placeholder="" required>
              </div>

              <ng-template #tellblock>
                <div>
                  <label for="name" class="form__label"> شماره تلفن </label>
                  <input type="email" class="form-control form__field" formControlName="tellnum" name="" id="" aria-describedby="emailHelpId"
                    placeholder="" required>
                </div>
              </ng-template>

              <div>
                <label class="form__label" for="">رمر</label>
                <input type="email" class="form-control form__field" formControlName="password" name="" id="" aria-describedby="emailHelpId"
                  placeholder="" required>
              </div>
              <!-- <small id="emailHelpId" class="form-text text-muted">Help text</small> -->
            </div>
            <button type="button" class="btn btn-primary btn-pulse text-center w-50 rounded-pill d-block text-center" style="position:relative;left:25%">
              ورود
            </button>
            <div class="text-center">
              <span class="mb-4">
                قبلا در این سایت ثبت نام نکرده ام <a href="#">ثبت نام</a>
              </span><br/>
              <span class="pt-5" dir="rtl">
                رمز عبور خودرا فراموش کرده ام<a href="#" class="btn btn-primary rounded-bottom mx-2">بازیابی</a>
              </span>
            </div>
          </form>

        </div>
      </div>

      <div class="col-lg-5  col-12 " id="form-login" style="margin: 0 !important;">
        <div class="w-100 h-25 bg-danger text-white text-center  d-flex align-items-center justify-content-center">
          <h4>توصیه های مهم</h4>
        </div>
        <div class="col-12 bg-white p-3 shadow">
          <article>
            <p>
              <li>لطفا در ورود اطلاعات، نام و نام خانوادگی به صورت فارسی طبق شناسنامه و دفترچه بیمه ثبت نمایید.</li>
              <li>اطلاعات و کد ملی وارد شده حتما به نام خود بیمار باشد.</li>
              <li>مراجعه کنندگان دو فرزند ( بیمار ) که برای هر دو فرزند درخواست نوبت در یک روز را دارند، یک نوبت برای هر
                دو فرزند کفایت می کند. لطفا نوبت دوم گرفته نشود.</li>
              <li>در تایید نهایی و رزرو نوبت، از تصویر آن ( اسکرین ) گرفته شود و نزد خود تا روز ویزیت نگه دارید.</li>
            </p>
          </article>
        </div>
      </div>
    </div>

  </div>
</div>
